<app-header-veterinario></app-header-veterinario>
<main>
  <div class="add-client-form">
    <h1>Añadir Cliente</h1>
    <form #clienteForm="ngForm" (ngSubmit)="addCliente(formCliente)">
      <div class="form-row">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            [(ngModel)]="formCliente.nombre"
            required
          />
        </div>
        <div class="form-group">
          <label for="cedula">Cédula</label>
          <input
            type="number"
            id="cedula"
            name="cedula"
            [(ngModel)]="formCliente.cedula"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="correo">Correo</label>
          <input
            type="email"
            id="correo"
            name="correo"
            [(ngModel)]="formCliente.correo"
            required
            pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$"
            #correo="ngModel"
          />
          <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="error">
            <div *ngIf="correo.errors?.['required']">Correo es requerido.</div>
            <div *ngIf="correo.errors?.['pattern']">Correo no es válido.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="celular">Número de Teléfono</label>
          <input
            type="tel"
            id="celular"
            name="celular"
            [(ngModel)]="formCliente.celular"
            required
          />
        </div>
      </div>
      <button type="submit" class="btnSubmit" [disabled]="clienteForm.invalid || correo.invalid">Añadir</button>
    </form>
  </div>
</main>
