<app-header-page></app-header-page>

<main>
      <section class="informacion">
       
        <div class="text">
          <h2>Encuentra Nuestra  Veterinaria</h2>
          <p>
            En El Arca, nos dedicamos a cuidar de tus mascotas con el amor y la profesionalidad que se merecen. Sabemos lo importante que es para ti contar con una clínica de confianza cerca de tu hogar, por eso, te invitamos a visitarnos en nuestra ubicación. Aquí encontrarás un equipo comprometido, instalaciones modernas y un ambiente acogedor, todo pensado para ofrecerle a tu mascota la mejor atención posible. A continuación, te mostramos cómo llegar a nuestra clínica y los servicios que ofrecemos en nuestra ubicación.
          </p>
          
        </div>
        <img
          class="dogImageFigure"
          src="assets/images/perroLocationPage.jpg"
          alt="Imagen perro location"
        />
      </section>


      <section class="mapa">

        <h2>Ubicación de nuestro negocio</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.807015171247!2d-74.06723942614529!3d4.628492842281649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a8193f1c9f%3A0xf93431640f134c07!2sPontificia%20Universidad%20Javeriana!5e0!3m2!1ses!2sco!4v1725478926135!5m2!1ses!2sco" 
        width="1050" height="550" style="border:0;" allowfullscreen="" loading="lazy" 
        class="frame-mapa"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
        
        
      </section>

      
    </main>
<app-footer-page></app-footer-page>