<app-header-page></app-header-page>

<main>
    <section class="section_horizontal">
      <img
        class="dogImageFigure"
        src="assets/images/imgPerroAboutUs.png"
        alt="Imagen perro introduccion"
      />
      <div class="text">
        <h2>Sobre Nosotros</h2>
        <p>
          En El Arca, brindamos cuidados veterinarios excepcionales para
          perros, combinando profesionalismo y cariño. Nuestro equipo ofrece
          revisiones generales, tratamientos, vacunaciones y orientación en
          nutrición, asegurando la salud y felicidad de tu mascota con un
          trato personalizado.
        </p>
        
      </div>
    </section>

    <section class="mission-vision-section">
      <div class="mission-vision-container">
        <div class="mission">
          <h3>Misión</h3>
          <p>
            En El Arca, brindamos atención veterinaria integral y
            personalizada de alta calidad para perros, combinando tecnología
            avanzada con un enfoque compasivo en un ambiente acogedor.
            Colaboramos con los dueños para garantizar la salud y felicidad de
            sus mascotas.
          </p>
        </div>
        <div class="vision">
          <h3>Visión</h3>
          <p>
            Ser la clínica veterinaria líder en cuidado canino, estableciendo
            un estándar de excelencia en salud, innovación en servicios, y
            confianza con nuestros clientes y la comunidad.
          </p>
        </div>
      </div>
    </section>
  </main>
<app-footer-page></app-footer-page>