<header>
    <div class="navigationBarLogo">
      <img src="assets/images/headerNavBarLogo.png" alt="imagenLogoElArca" />
      <a routerLink="/"> <h1>El Arca</h1></a>
    </div>
    <div class="navigationBarMenuOptions">
        
      <a routerLink="/services"><h3>Servicios</h3></a>
      <a routerLink="/about"><h3>Sobre Nosotros</h3></a>
      <a routerLink="/location"><h3>Ubicación</h3></a>
      <a routerLink="/contact"><h3>Contacto</h3></a>
    </div>
    <div class="navigationBarButtons">
      
      <!-- <button class="btnYellow"><h3>Regístrate</h3></button> -->
      
      <a routerLink="/loginCliente">
        <button class="btnYellow"><h3>Iniciar Sesión</h3></button>
      </a>
      
    </div>
</header>