<header>
    <div class="navigationBarLogo">
      <img src="assets/images/headerNavBarLogo.png" alt="imagenLogoElArca" />
      <h1>El Arca</h1>
    </div>
    <div class="navigationBarMenuOptions">
      <a [routerLink]="['/perfilVeterinario', id]"><h3>Perfil</h3></a>

      <a routerLink="/clientes"><h3>Clientes</h3></a>
      <a routerLink="/mascotas"><h3>Mascotas</h3></a>
    </div>
    <div class="navigationBarButtons">
      
      <button class="btnYellow" (click)="logOut()"><h3>Cerrar Sesión</h3></button>
      
    </div>
  </header>