<app-header-veterinario></app-header-veterinario>
<main>
  <div class="title-bar">
    <h1>Información Clientes</h1>
    <div class="buttons-group">
      <a routerLink="/clientesAdd">
        <button class="btnAzulPortal">Añadir Cliente</button>
      </a>
      <!-- Los botones para editar y eliminar clientes se pueden gestionar aquí -->
    </div>
  </div>

  <!-- Filter Form -->
  <section id="formularioFiltro">
    <form class="form-inline">
      <!-- Search Bar -->
      <input
        type="text"
        name="query"
        class="form-control"
        placeholder="Buscar..."
        [(ngModel)]="searchQuery"
      />

      <!-- Dropdown Filter -->
      <label for="filterBy" class="mr-2">Filtrar por:</label>
      <select
        name="filterBy"
        id="filterBy"
        class="form-control"
        [(ngModel)]="filterBy"
      >
        <option value="todos">Todos</option>
        <option value="nombre">Nombre</option>
        <option value="cedula">Cédula</option>
        <option value="correo">Correo</option>
        <option value="telefono">Teléfono</option>
        <option value="inactivo">Inactivo</option>
        <option value="activo">Activo</option>
      </select>
    </form>
  </section>

  <div class="client-table">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cédula</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iterar sobre clientes y mostrar en la tabla -->
        <tr *ngFor="let cliente of filteredClientesList()">
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.cedula }}</td>
          <td>{{ cliente.correo }}</td>
          <td>{{ cliente.celular }}</td>
          <td>
            <button
              [ngClass]="{
                'btn btn-warning tagEstadoPerfilActivo':
                  cliente.estado === 'Activo',
                'btn btn-warning tagEstadoPerfilInactivo':
                  cliente.estado === 'Inactivo'
              }"
            >
              {{ cliente.estado }}
            </button>
          </td>
          <td>
            <div class="editButtonContainer">
              <a
                type="button"
                class="btn btn-warning"
                (click)="editarCliente(cliente.id)"
                >Editar</a
              >
              <a
                type="button"
                class="btn btn-danger"
                (click)="eliminarCliente(cliente)"
              >
                Eliminar
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
