<app-header-veterinario></app-header-veterinario>
<main>
  <section class="title-bar">
    <h1>Información Mascotas</h1>
    <div class="buttons-group">
      <a routerLink="/mascotasAdd">
        <button class="btnAzul">Añadir Mascota</button>
      </a>
      <!-- Los botones para editar y eliminar clientes se pueden gestionar aquí -->
    </div>
  </section>

  <!-- Filter Form -->
  <section id="formularioFiltro">
    <form class="form-inline">
      <!-- Search Bar -->
      <input
        type="text"
        name="query"
        class="form-control"
        placeholder="Buscar..."
        [(ngModel)]="searchQuery"
      />

      <!-- Dropdown Filter -->
      <label for="filterBy" class="mr-2">Filtrar por:</label>
      <select
        name="filterBy"
        id="filterBy"
        class="form-control"
        [(ngModel)]="filterBy"
      >
        <option value="todos">Todos</option>
        <option value="id">ID</option>
        <option value="nombre">Nombre</option>
        <option value="raza">Raza</option>
        <option value="enfermedad">Enfermedad</option>
        <option value="inactiva">Inactiva</option>
        <option value="en tratamiento">En tratamiento</option>
      </select>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary ml-2">Buscar</button>
    </form>
  </section>

  <section class="client-table">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Raza</th>
          <th>Edad</th>
          <th>Peso</th>
          <th>Enfermedad</th>
          <th>Foto</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mascota of filteredMascotasList()">
          <td>{{ mascota.id }}</td>
          <td>{{ mascota.nombre }}</td>
          <td>{{ mascota.raza }}</td>
          <td>{{ mascota.edad }}</td>
          <td>{{ mascota.peso }}</td>
          <td>{{ mascota.enfermedad }}</td>
          <td>
            <img src="{{ mascota.urlImagen }}" alt="Imagen de Mascota" />
          </td>
          <button
            [ngClass]="{
              'btn btn-warning tagEstadoMascotaTratamiento':
                mascota.estado === 'En tratamiento',
              'btn btn-warning tagEstadoMascotaInactiva':
                mascota.estado === 'Inactiva'
            }"
          >
            {{ mascota.estado }}
          </button>
          <td>
            <button
              type="button"
              (click)="editarMascota(mascota.id)"
              class="btn btn-warning"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="eliminarMascota(mascota)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
