<main>
  <section class="title-bar">
    <h1>Información Mascotas</h1>
    <div class="buttons-group">
      <a routerLink="/mascotasAdd">
        <button class="btnAzul">Añadir Mascota</button>
      </a>
      <!-- Los botones para editar y eliminar clientes se pueden gestionar aquí -->
    </div>
  </section>
  <section class="client-table">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Raza</th>
          <th>Edad</th>
          <th>Peso</th>
          <th>Enfermedad</th>
          <th>Foto</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mascota of mascotasList">
          <td>{{ mascota.id }}</td>
          <td>{{ mascota.nombre }}</td>
          <td>{{ mascota.raza }}</td>
          <td>{{ mascota.edad }}</td>
          <td>{{ mascota.peso }}</td>
          <td>{{ mascota.enfermedad }}</td>
          <td>
            <img src="{{ mascota.urlImagen }}" alt="Imagen de Mascota" />
          </td>
          <td>{{ mascota.estado }}</td>
          <td>
            <button
              type="button"
              (click)="mostrarMascota(mascota.id)"
              class="btn btn-warning"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="eliminarMascota(mascota)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
