<div class="total-container">
    <div class="total-title">Cantidad de veterinarios activos en la plataforma</div>
    <div class="total-value">&#8594; {{ totalVeterinariosActivos | number }}</div>
</div>

<div class="total-container">
    <div class="total-title">Cantidad de veterinarios inactivos en la plataforma</div>
    <div class="total-value">&#8594; {{ totalVeterinariosInactivos | number }}</div>
</div>


<div class="total-container">
    <div class="total-title">Cantidad de mascotas totales en la veterinaria</div>
    <div class="total-value">&#8594; {{ totalMascotas | number }}</div>
</div>


<div class="total-container">
    <div class="total-title">Cantidad de mascotas en tratamiento en la veterinaria</div>
    <div class="total-value">&#8594; {{ totalMascotasEnTratamiento | number }}</div>
</div>



