<app-header-page></app-header-page>
<main>
    <section class="section_horizontal">
      <div class="text">
        <h2 class="subtitle">
          Como Noé con su arca, cuidamos a tu perro con el alma
        </h2>
        <p class="paragraph">
          En El Arca, nos dedicamos exclusivamente al bienestar de los perros
          con un equipo de veterinarios apasionados y experimentados.
          Ofrecemos servicios de alta calidad en un ambiente cálido y
          acogedor, incluyendo consultas, vacunaciones, cirugías y cuidados
          dentales. Nos aseguramos de que cada visita sea una experiencia
          positiva para las mascotas y sus dueños, tratando a tu perro con el
          amor y el cuidado que se merece.
        </p>
        <!-- <button class="btnYellow"><h3>Solicitar una cita</h3></button> -->

        
      </div>

      <img
        class="dogImageFigure"
        src="assets/images/Perro1.png"
        alt="Imagen perro introduccion"
      />
    </section>

    <section class="video">
      <iframe
        width="660"
        height="315"
        src="https://www.youtube.com/embed/KxJO8iYcQ1s?si=IqYDRJI7W9Eq1r_a"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </section>

    <section class="services">
      <div class="text">
        <h1 id="title">
          Salud óptima para tu mascota: Servicios veterinarios a tu alcance
        </h1>
        <a routerLink="/services">
          <button class="btnPurple">Explorar más</button>
        </a>
      </div>  
      <div class="Grid">
        <div class="GridItem">
          <h3 class="subtitle">Examen Físico</h3>
          <p class="paragraph">
            Evaluaciones completas para mantener a tu perro en óptima salud
          </p>
          <!-- Enlace a la sección "Examen Físico" en la página de servicios -->
          <a  href="services#examen-fisico">Ver más</a>
        </div>
    
        <div class="GridItem">
          <h3 class="subtitle">Cuidados Faciales</h3>
          <p class="paragraph">
            Atención especializada para la higiene y salud facial de tu mascota
          </p>
          <!-- Enlace a la sección "Cuidados Faciales" en la página de servicios -->
          <a  href="/services#cuidados-faciales">Ver más</a>
        </div>
    
        <div class="GridItem">
          <h3 class="subtitle">Vacunación</h3>
          <p class="paragraph">
            Protección esencial contra enfermedades comunes y peligrosas
          </p>
          <!-- Enlace a la sección "Vacunación" en la página de servicios -->
          <a  href="/services#vacunacion" >Ver más</a>
        </div>
    
        <div class="GridItem">
          <h3 class="subtitle">Nutrición</h3>
          <p class="paragraph">
            Asesoramiento experto para una dieta equilibrada y saludable
          </p>
          <!-- Enlace a la sección "Nutrición" en la página de servicios -->
          <a  href="/services#nutricion" >Ver más</a>
        </div>
      </div>
    </section>
    

    <section class="Schedule">
      <div class="figures1">
        <img id="ballRed" src="assets/images/esferaRoja.svg" alt="ballRed" />
        <img
          id="ballBlue1"
          src="assets/images/esferaAzul.svg"
          alt="ballBlue"
        />
        <img
          id="ballYellow"
          src="assets/images/esferaAmarilla.svg"
          alt="ballYellow"
        />
      </div>

      <div class="text2">
        <h1>Sé parte de la familia</h1>
        <p>¡El Arca siempre tiene espacio para todos!</p>
        <a href="/contact#seccion-horario">
          <button class="btnBlue">Horarios de atención</button>
        </a>
        
      </div>

      <div class="figures2">
        <img id="ballBlu2" src="assets/images/esferaAzul.svg" alt="ballBlue" />
        <img
          id="perroHorarios"
          src="assets/images/perroEsferaAmarilla.png"
          alt="perroHorarios"
        />
      </div>
    </section>
  </main>
<app-footer-page></app-footer-page>
