<app-header-page></app-header-page>

<main>
    <img class="image" src="assets/images/perroVerticalFondoAmarillo.avif" alt="Imagen perro">
    <section class="login-section">
        <h2>Iniciar Sesión</h2>
        <form action="/dueño/perfilCliente" method="post">
            <label for="cedula">Cédula:</label>
            <input type="number" id="cedula" name="cedula" required>
          
            
            <button type="submit" class="btnBlue">Iniciar Sesión</button>
        </form>
        <a routerLink="/loginVeterinario"> <h4>¿Iniciar sesión como veterinario?</h4></a>
    </section>
</main>
<app-footer-page></app-footer-page>