<footer>
    <div class="copyright">
      <p>Cra. 7 #40 - 62, Bogotá</p>
      <p>info@javeriana.edu.com</p>
      <p>© 2024 El Arca</p>
    </div>
    <div class="FooterLogo">
      <img src="assets/images/headerNavBarLogo.png" alt="imagenLogoElArca" />
      <a routerLink="/"> <h1>El Arca</h1></a>
    </div>
    <div class="FooterOptions">
      <ul class="FooterOptionsList">
        <a routerLink="/services"> <li>Servicios</li></a>
        <a routerLink="/about"> <li>Sobre Nosotros</li></a>
        <a routerLink="/location"> <li>Ubicación</li></a>
        <a routerLink="/contact"> <li>Contacto</li></a>
      </ul>

      <div id="redes">
        <!-- Enlace a la página de Facebook -->
        <a
          href="https://www.facebook.com/unijaveriana/?locale=es_LA"
          target="_blank"
        >
          <img
            src="assets/images/IconoFacebook.svg"
            height="25px"
            alt="facebook"
          />
        </a>
        <!-- Enlace a la página de Instagram -->
        <a
          href="https://co.linkedin.com/school/pontificia-universidad-javeriana/"
          target="_blank"
        >
          <img
            src="assets/images/IconoLinkedn.svg"
            height="25px"
            alt="linkedin"
          />
        </a>
        <!-- Enlace a la cuenta de X (anteriormente Twitter)-->
        <a
          href="https://x.com/UniJaveriana?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
          target="_blank"
        >
          <img src="assets/images/IconoTwitter.svg" height="25px" alt="x" />
        </a>
      </div>
    </div>
  </footer>
