<app-header-admin></app-header-admin> 
<h1>Dashboard</h1>
<section class="fila">
    <div class="grafico-container">
        <app-total-tratamientos></app-total-tratamientos>
    </div>
    
    <div class="grafico-container">
        <app-unidades-droga></app-unidades-droga>
    </div>
</section>

<section class="fila">
    <div class="grafico-container">
        <app-cantidades-totales></app-cantidades-totales>
    </div>
    <div class="grafico-container">
        <app-ventas-ganancias></app-ventas-ganancias>
    </div>
    
</section>









