<app-header-cliente></app-header-cliente>

<main>
  <div class="profile-section">
    <div class="profile-details">
      <div class="image-emailName">
        <img
          src="assets/images/fotoPerfil_PorDefecto.jpg"
          alt="Foto de Perfil"
        />
        <div class="name-email">
          <span id="nameSpan">{{ cliente.nombre }}</span>
          <span id="emailSpan">{{ cliente.correo }}</span>
        </div>
      </div>

      <div class="info-card">
        <p>
          <span class="label">Estado:</span>
          <span
            class="value"
            [ngClass]="{
              tagEstadoPerfilActivo: cliente.estado === 'Activo',
              tagEstadoPerfilInactivo: cliente.estado === 'Inactivo'
            }"
          >
            {{ cliente.estado }}
          </span>
        </p>
        <p>
          <span class="label">Cédula:</span>
          <span class="value">{{ cliente.cedula }}</span>
        </p>
        <p>
          <span class="label">Celular:</span>
          <span class="value">{{ cliente.celular }}</span>
        </p>
      </div>
    </div>
  </div>

  <!-- SECCION QUE PERMITE CARGAR DATOS EN LA TABLA -->

  <div class="scrollable-container">
    <div class="card" *ngFor="let mascota of cliente.mascotas">
      <img
        class="image-scrollable"
        [src]="mascota.urlImagen"
        alt="Imagen de Mascota"
      />
      <div class="image-content">
        <div class="info-container">
          <div class="card-nombre-estadoicon">
            <h3>{{ mascota.nombre }}</h3>
            <p>
              <span
                class="value"
                [ngClass]="{
                  tagEstadoMascotaTratamiento:
                    mascota.estado === 'En tratamiento',
                  tagEstadoMascotaInactiva: mascota.estado === 'Inactiva'
                }"
              >
                {{ mascota.estado }}
              </span>
            </p>
          </div>

          <p>
            <strong>Raza:</strong> <span>{{ mascota.raza }}</span>
          </p>
          <p>
            <strong>Enfermedad:</strong> <span>{{ mascota.enfermedad }}</span>
          </p>
          <div class="cardPesoEdad">
            <p class="cardPesoEdad-Edad">
              <strong>Edad:</strong> <span>{{ mascota.edad }}</span>
            </p>
            <p class="cardPesoEdad-Peso">
              <strong>Peso:</strong> <span>{{ mascota.peso }}</span>
            </p>
          </div>
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="mostrarTratamientos(mascota.id)"
          >
            Tratamientos
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="contenedorBajo">
    <ng-container *ngIf="tratamientosList.length > 0">
      <app-tratamientos-table
        [mascotaId]="selectedMascotaId"
      ></app-tratamientos-table>
    </ng-container>
  </div>
</main>
