/* General styles for the profile section */

main {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  
  .contenedorBajo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Optional: Add background color */
    padding: 10px; /* Optional: Add padding */
  }
  
  body {
    font-family: "Manrope", sans-serif;
    background-color: #fafafbff;
    margin: 0;
    padding: 0;
  }
  
  
  .image-scrollable {
    width: 200px !important; /* Ancho deseado */
    height: 200px !important; /* Altura deseada */
    object-fit: cover !important;
    border-radius: 20px !important;
  
  }
  
  .card-nombre-estadoicon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .image-emailName {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .name-email {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
  }
  
  #nameSpan {
    font-size: 24px;
    font-weight: bold;
  }
  #emailSpan {
    font-size: 14px;
  }
  
  .profile-section {
    padding: 40px;
    background-color: #e9e9e9;
    margin: 40px auto;
    width: 45%;
    border-radius: 12px;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .profile-details img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .profile-details .name {
    font-size: 24px;
    font-weight: bold;
    color: #2e0e73ff;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  .profile-details .name img.edit-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .profile-details .email {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .info-card {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    text-align: left;
    margin-bottom: 20px;
  }
  
  .info-card p {
    font-size: 16px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .info-card .label {
    font-weight: bold;
    color: #333;
  }
  
  .info-card .value {
    color: #555;
  }
  
  .btnLogout {
    background-color: #d13160;
    color: white;
    padding: 10px 20px;
    border-radius: 26px;
    border: none;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    margin-top: 20px;
    width: 150px;
  }
  
  .image-content {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  
  
  
  .scrollable-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    max-height: 620px; /* Adjust the height as needed */
    padding: 10px;
    width: 32%;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .info-container {
    margin-left: 25px;
  }
  
  .card {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #e9e9e9;
  }
  .card img {
    height: auto;
    width: 200px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
  }
  .card h3,
  span {
    font-family: "Red Hat Display", sans-serif;
    margin: 10px 0 5px;
  }
  .card p {
    margin: 5px 0;
  }
  
  .cardPesoEdad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .cardPesoEdad-Edad {
    background-color: #f5f1fdff;
    padding: 25px;
  }
  
  .cardPesoEdad-Peso {
    background-color: #fcf2f5ff;
    padding: 25px;
  }
  
  
  
    /*------------------------------------------- TAGS DE ESTADOS ------------------------------------------*/
.tagEstadoPerfilActivo {
  color: #117b34ff;
  padding: 0.2em 0.6em; /* Adjust padding to make the tag smaller */
  border-radius: 10rem;
  background-color: #abf8c4;
  border: none; /* Remove default button border */
}

.tagEstadoPerfilInactivo {
  color: #896901;
  padding: 0.2em 0.6em; /* Adjust padding to make the tag smaller */
  border-radius: 10rem;
  background-color: #fffae8;
  border: none; /* Remove default button border */
}



.tagEstadoMascotaTratamiento {
  color: #117b34ff;
  padding: 0.2em 0.6em;
  border-radius: 10rem;
  background-color: #abf8c4;
  border: none; /* Remove default button border */
}

.tagEstadoMascotaInactiva {
  color: #896901;
  padding: 0.2em 0.6em;
  border-radius: 10rem;
  background-color: #fffae8;
}