<app-header-cliente></app-header-cliente>

<main>
  <div class="profile-section">
    <div class="profile-details">
      <div class="image-emailName">
        <img src="assets/images/fotoPerfil_PorDefecto.jpg" alt="Foto de Perfil" />
        <div class="name-email">
          <span id="nameSpan">{{ cliente.nombre }}</span>
          <span id="emailSpan">{{ cliente.correo }}</span>
        </div>
      </div>

      <div class="info-card">
        <p>
          <span class="label">Estado:</span>
          <span class="value" [ngClass]="{
              'tagEstadoPerfilActivo': cliente.estado === 'Activo',
              'tagEstadoPerfilInactivo': cliente.estado === 'Inactivo'
            }">
            {{ cliente.estado }}
          </span>
        </p>
        <p>
          <span class="label">Cédula:</span>
          <span class="value">{{ cliente.cedula }}</span>
        </p>
        <p>
          <span class="label">Celular:</span>
          <span class="value">{{ cliente.celular }}</span>
        </p>
      </div>
    </div>
  </div>
</main>
