<app-header-page></app-header-page>
<main>
    <img class="image" src="assets/images/perroVerticalFondoAzul.avif" alt="Imagen perro">
    <section class="login-section">
        <h2>Iniciar Sesión</h2>
        <form action="/clientes/perfil" method="post">
            <label for="id">Id:</label>
            <input type="number" id="id" name="id" required>
            <label for="contra">Contraseña:</label>
            <input type="text" id="contra" name="contra" required>
            
            <button type="submit" class="btnBlue">Iniciar Sesión</button>
        </form>
        <a routerLink="/loginCliente"> <h4>¿Iniciar sesión como cliente?</h4></a>
        <h4 class="mensaje_error" th:text="${error}"></h4>
    </section>
</main>

<app-footer-page></app-footer-page>