<app-header-page></app-header-page>
<main>
    <img class="image" src="assets/images/perroVerticalFondoAzul.avif" alt="Imagen perro">
    <section class="login-section">
        <h2>Iniciar Sesión</h2>
        <form (ngSubmit)="iniciarSesion()">
            <label for="cedula">Cedula:</label>
            <input type="text" id="cedula" name="cedula" 
            [(ngModel)]="cedula" required>
            <label for="contra">Contraseña:</label>
            <input type="text" id="contra" name="contra" 
            [(ngModel)]="contra" required>
            
            <button type="submit" class="btnBlue">Iniciar Sesión</button>
        </form>
        <a routerLink="/loginCliente"> <h6>¿Iniciar sesión como cliente?</h6></a>
        <div *ngIf="error">
            <p class="mensaje_error">La cedula o la contraseña son incorrectos</p>
        </div>

        
    </section>
</main>

<app-footer-page></app-footer-page>