<app-header-page></app-header-page>
<main>
    <section class="bigImagesCardsSection">
        <div class="solicitaCitaCard">
          <a  class="hidden-link"  routerLink="/contact#seccion-horario" >
            <h3 class="cardImageTitle">Horarios de atención></h3>
          </a>
          
          <img src="assets/images/imgPerroContactSolicitaUnaCita.png" alt="" />
        </div>
        <div class="threeCardsEven">
          <div id="cardConsultaEnLinea">
            
            <a class="hidden-link" routerLink="/contact#seccion-preguntas">
              <h3 class="cardImageTitleThree">Preguntas frecuentes ></h3>
            </a>
            
            <img src="assets/images/imgPerroConsultLinea.png" alt="" />
          </div>
          <div id="cardConsultasTratamientos">
            <a class="hidden-link" href="#seccion-servicios">
              <h3 class="cardImageTitleThree"> Información sobre consultas y tratamientos >
              </h3>
            </a>
            
            <img
              id="imgContactInfoTratamientos"
              src="assets/images/imgContactInfoTratamientos.png"
              alt=""
            />
          </div>
          <div id="cardEmergencias">
            <a class="hidden-link" href="contact#seccion-emergencias">
              <h3 class="cardImageTitleThree">Llámanos para emergencias 24/7 ></h3>
            </a>
            
            <img src="assets/images/imgPerro24.png" alt="" />
          </div>
        </div>
      </section>
      <section class="gridCardsSection">
        <div class="gridCards">
          <div class="card">
            <div class="card-body">
              <h3  id="seccion-emergencias" class="card-title">¿Qué hacer en caso de una emergencia?</h3>
              
              <p class="card-text">
                Sigue estos pasos para proteger a tu mascota en situaciones críticas. Estamos contigo en cada momento:
              </p>
  
              <ol class="card-text">
                <li>
                  <strong>Mantén la calma y evalúa la situación.</strong> 
                  Respira hondo y determina la gravedad del problema para tomar decisiones adecuadas.
                </li>
                <li>
                  <strong>Contacta a tu veterinario o clínica de emergencias.</strong> 
                  Llama al <strong>123-456-7890</strong> para recibir orientación inmediata sobre qué hacer.
                </li>
                <li>
                  <strong>Proporciona primeros auxilios básicos si es necesario.</strong> 
                  Sigue las instrucciones del veterinario para acciones como detener sangrados o mantener a tu mascota en reposo.
                </li>
                <li>
                  <strong>Transporta a tu mascota con cuidado.</strong> 
                  Usa una caja de transporte o una manta para inmovilizarla y evita movimientos bruscos.
                </li>
                <li>
                  <strong>Mantén información de contacto a mano.</strong> 
                  Ten a la mano los números de tu veterinario y clínica de emergencias para una pronta comunicación.
                </li>
              </ol>
  
              <p class="card-text">
                Estamos aquí para ayudarte a cada paso del camino y asegurar el bienestar de tu mascota. ¡No dudes en contactarnos para asistencia adicional!
              </p>
  
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h3  id="seccion-horario" class="card-title">Horarios de atención</h3>
              <p class="card-text">
                Consulta nuestros horarios de atención para planificar la visita de tu mascota.
                Estamos comprometidos a ofrecerte el mejor servicio posible, por lo que nuestros
                veterinarios están disponibles para atender a tu compañero peludo durante toda
                la semana.
              </p>
              
              <h3 class="card-text">Horarios de Atención:</h3>
              <ul class="card-text">
                <li><strong >Lunes a Viernes:</strong> 8:00 AM - 7:00 PM</li>
                <li><strong>Sábados:</strong> 9:00 AM - 5:00 PM</li>
                <li><strong>Domingos y Festivos:</strong> 10:00 AM - 3:00 PM</li>
              </ul>
              
              <p class="card-text">
                Queremos asegurarnos de que encuentres un momento conveniente para traer a tu
                mascota, ya sea para una consulta rutinaria, una revisión de salud, o cualquier
                otra necesidad que tenga. No dudes en contactarnos para conocer nuestros
                horarios detallados y hacer una cita en el momento que mejor te convenga.
                ¡Estamos aquí para cuidar de tu mascota con dedicación y cariño!
              </p>
              
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h3 id ="seccion-servicios" class="card-title">
                Consulta sobre nuestros servicios especializados
              </h3>
              <p class="card-text">
                Descubre todos los detalles sobre nuestros servicios especializados y cómo 
                podemos ayudar a tu mascota con atención personalizada y de alta calidad. 
                En nuestra clínica, contamos con un equipo de veterinarios altamente 
                capacitados y apasionados por el bienestar de los animales. Ofrecemos una 
                amplia gama de servicios, desde consultas generales hasta tratamientos avanzados, 
                adaptados a las necesidades específicas de cada mascota.
              </p>
              
              <h3 class="card-text">Nuestros Servicios Incluyen:</h3>
              <ul class="card-text">
                <li>
                  <strong>Consultas Generales y Especializadas:</strong> Evaluaciones de salud 
                  rutinarias, diagnósticos precisos y planes de tratamiento personalizados para 
                  cada etapa de la vida de tu mascota.
                </li>
                <li>
                  <strong>Vacunación y Desparasitación:</strong> Programas completos de vacunación 
                  y desparasitación para proteger a tu mascota contra enfermedades comunes.
                </li>
                <li>
                  <strong>Cirugías:</strong> Realizamos cirugías de rutina, como esterilizaciones y 
                  castraciones, así como procedimientos quirúrgicos más complejos, siempre con el 
                  mayor cuidado y tecnología avanzada.
                </li>
                <li>
                  <strong>Odontología Veterinaria:</strong> Servicios de limpieza dental, extracciones 
                  y tratamientos para mantener la salud bucal de tu mascota en óptimas condiciones.
                </li>
                <li>
                  <strong>Urgencias:</strong> Atención rápida y eficaz en casos de emergencia, disponible 
                  durante todo el horario de apertura.
                </li>
              </ul>
              
              <p class="card-text">
                Estamos comprometidos a ofrecerte el mejor servicio posible, por lo que nuestros 
                veterinarios están disponibles para atender a tu compañero peludo durante toda 
                la semana.
              </p>
              
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h3 id="seccion-preguntas" class="card-title">
                Preguntas frecuentes sobre el cuidado de mascotas
              </h3>
              
  
              <h4 class="card-text">1. ¿Con qué frecuencia debo llevar a mi mascota al veterinario?</h4>
              <p class="card-text">
                Se recomienda llevar a tu mascota al veterinario al menos una vez al año para un chequeo general. 
                Sin embargo, para cachorros, gatitos, y mascotas mayores, es aconsejable realizar visitas más frecuentes 
                para monitorear su salud de cerca.
              </p>
  
              <h4 class="card-text">2. ¿Cuál es la mejor dieta para mi mascota?</h4>
              <p class="card-text">
                La mejor dieta depende de la especie, raza, edad, y condiciones de salud de tu mascota. En general, una dieta 
                balanceada que incluya proteínas de alta calidad, grasas saludables, y carbohidratos en cantidades adecuadas es 
                ideal. Consulta con tu veterinario para obtener recomendaciones específicas.
              </p>
  
              <h4 class="card-text">3. ¿Cuánto ejercicio necesita mi mascota diariamente?</h4>
              <p class="card-text">
                La cantidad de ejercicio varía según la especie, tamaño, y nivel de energía de tu mascota. Los perros suelen 
                necesitar entre 30 minutos y 2 horas de ejercicio diario, dependiendo de la raza, mientras que los gatos requieren 
                tiempo de juego activo, aunque de menor duración.
              </p>
  
              <h4 class="card-text">4. ¿Cuándo debo empezar a vacunar a mi mascota?</h4>
              <p class="card-text">
                Las vacunas suelen comenzar a administrarse a los cachorros y gatitos entre las 6 y 8 semanas de edad. Es crucial 
                seguir un calendario de vacunación recomendado por tu veterinario para asegurar que tu mascota esté protegida contra 
                enfermedades comunes.
              </p>
  
              <h4 class="card-text">5. ¿Cómo puedo prevenir parásitos en mi mascota?</h4>
              <p class="card-text">
                Para prevenir parásitos como pulgas, garrapatas y gusanos, es importante utilizar tratamientos preventivos regulares, 
                como collares antipulgas, pipetas o comprimidos. Mantén la higiene de tu mascota y de su entorno para reducir el riesgo 
                de infestaciones.
              </p>
  
            </div>
          </div>
        </div>
      </section>
</main>

<app-footer-page></app-footer-page>