<app-header-page></app-header-page>
<main>
    <section class="bigImagesCardsSection">
        <div class="solicitaCitaCard">
            <a class="hidden-link" routerLink="/contact#seccion-horario">
                <h3 class="cardImageTitle">Horarios de atención</h3>
            </a>
            <img src="assets/images/imgPerroContactSolicitaUnaCita.png" alt="" />
        </div>
        <div class="threeCardsEven">
            <div id="cardConsultaEnLinea">
                <a class="hidden-link" routerLink="/contact#seccion-preguntas">
                    <h3 class="cardImageTitleThree">Preguntas frecuentes</h3>
                </a>
                <img src="assets/images/imgPerroConsultLinea.png" alt="" />
            </div>
            <div id="cardConsultasTratamientos">
                <a class="hidden-link" href="#seccion-servicios">
                    <h3 class="cardImageTitleThree">Información sobre consultas y tratamientos</h3>
                </a>
                <img id="imgContactInfoTratamientos" src="assets/images/imgContactInfoTratamientos.png" alt="" />
            </div>
            <div id="cardEmergencias">
                <a class="hidden-link" href="#seccion-emergencias">
                    <h3 class="cardImageTitleThree">Llámanos para emergencias 24/7</h3>
                </a>
                <img src="assets/images/imgPerro24.png" alt="" />
            </div>
        </div>
    </section>
    <section class="gridCardsSection">
        <div class="gridCards">
            <div class="card">
                <div class="card-body">
                    <h3 id="seccion-emergencias" class="card-title">¿Qué hacer en caso de una emergencia?</h3>
                    <ol class="card-text">
                        <li><strong>Mantén la calma</strong>: Evalúa la situación.</li>
                        <li><strong>Contacta a tu veterinario</strong>: Llama al <strong>123-456-7890</strong>.</li>
                        <li><strong>Proporciona primeros auxilios</strong>: Sigue instrucciones del veterinario.</li>
                        <li><strong>Transporta a tu mascota con cuidado</strong>: Usa una caja de transporte.</li>
                        <li><strong>Ten información de contacto lista</strong>: Asegúrate de tener los números de tu veterinario a mano.</li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 id="seccion-horario" class="card-title">Horarios de atención</h3>
                    <ul class="card-text">
                        <li><strong>Lunes a Viernes:</strong> 8:00 AM - 7:00 PM</li>
                        <li><strong>Sábados:</strong> 9:00 AM - 5:00 PM</li>
                        <li><strong>Domingos y Festivos:</strong> 10:00 AM - 3:00 PM</li>
                    </ul>
                    <p class="card-text">Contáctanos para más detalles y hacer una cita.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 id="seccion-servicios" class="card-title">Consulta sobre nuestros servicios especializados</h3>
                    <ul class="card-text">
                        <li><strong>Consultas Generales:</strong> Evaluaciones y planes de tratamiento.</li>
                        <li><strong>Vacunación:</strong> Programas de protección.</li>
                        <li><strong>Cirugías:</strong> Desde procedimientos rutinarios hasta complejos.</li>
                        <li><strong>Odontología:</strong> Servicios para la salud dental.</li>
                        <li><strong>Urgencias:</strong> Atención rápida durante el horario de apertura.</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 id="seccion-preguntas" class="card-title">Preguntas frecuentes sobre el cuidado de mascotas</h3>
                    <h4 class="card-text">1. ¿Con qué frecuencia debo llevar a mi mascota al veterinario?</h4>
                    <p class="card-text">Al menos una vez al año; más frecuente para cachorros y mascotas mayores.</p>

                    <h4 class="card-text">2. ¿Cuál es la mejor dieta para mi mascota?</h4>
                    <p class="card-text">Dieta balanceada según especie, raza y salud; consulta al veterinario.</p>

                    <h4 class="card-text">3. ¿Cuánto ejercicio necesita mi mascota?</h4>
                    <p class="card-text">Varía según la especie; perros necesitan entre 30 minutos y 2 horas.</p>

                    <h4 class="card-text">4. ¿Cuándo debo empezar a vacunar a mi mascota?</h4>
                    <p class="card-text">A partir de las 6-8 semanas de edad.</p>

                    <h4 class="card-text">5. ¿Cómo puedo prevenir parásitos en mi mascota?</h4>
                    <p class="card-text">Utiliza tratamientos regulares y mantén la higiene.</p>
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer-page></app-footer-page>
